body {
  margin: auto;
  background-color: #030337;
}

.wrapper {
  display: block; /*changed to block*/
  font: Ariel;
  width: 80%; /* Relative width for the wrapper */
  max-width: 1200px; /* added max width*/
  color: #444;
  margin: 7% auto; /* changed to auto*/
  padding: 20px;
  font-size: 150%;
  text-align: center; /* center content*/

}


h1 {
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  text-align: center;
}

h2 {
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
  text-align: center;
}

h3 {
  color: #0b0357ae;
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 16px;

}

h4 {
  color: #0b0357ae;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  text-align: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#centred {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img{
  width: 100%; /* added*/
  height: auto; /*added*/
}